In [5]:
import pandas as pd
import numpy as np

In [6]:
liste=[1,2,3,"a","b","c"]
liste

[1, 2, 3, 'a', 'b', 'c']

In [7]:
df=pd.DataFrame(liste,columns=["Veri 1"])
df

  Veri 1
0      1
1      2
2      3
3      a
4      b
5      c

In [10]:
veriler=np.random.randint(1,100,([3,3]))
veriler

array([[16, 43, 38],
       [39, 76, 23],
       [95, 71, 46]])

In [13]:
df1=pd.DataFrame(veriler,index=["satır1","satır2","satır3"],columns=["sütun1","sütun2","sütun3"])
df1

        sütun1  sütun2  sütun3
satır1      16      43      38
satır2      39      76      23
satır3      95      71      46

In [14]:
veriler=[["Ravzanur","Sanchez",17],["Hilal","Desouza",17]]
veriler

[['Ravzanur', 'Sanchez', 17], ['Hilal', 'Desouza', 17]]

In [16]:
df2=pd.DataFrame(veriler,index=["Ogrenci_1","Ogrenci_2"],columns=["Ad","Soyad","Yas"])
df2

                 Ad    Soyad  Yas
Ogrenci_1  Ravzanur  Sanchez   17
Ogrenci_2     Hilal  Desouza   17

In [18]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Ogrenci_1 to Ogrenci_2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ad      2 non-null      object
 1   Soyad   2 non-null      object
 2   Yas     2 non-null      int64
dtypes: int64(1), object(2)
memory usage: 64.0+ bytes